<h2 class="text-center">The Latest Movies</h2>
<%# binding.pry %>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped">
      <th class="table-header">
          <td><strong>Movie</strong></td>
          <td colspan="2"><strong>Critics Score</strong></td>
          <td colspan="2"><strong>Audience Score</strong></td>
     </th>

      <% @movies.each do | movie | %>
        <tr class="movieList">
          <td> <%= image_tag movie["posters"]["thumbnail"]%></td>
          <td> <%= movie["title"] %>           </td>
          <td class="critics_rating">
             <%  if movie["ratings"]["critics_rating"] == "Rotten" %>
               <%= raw(@rotten) %>
               <% elsif  movie["ratings"]["critics_rating"] == "Certified Fresh"%>
               <%= raw(@fresh) %>
             <% end %>   
          </td>
          <td class="score"> <%= movie["ratings"]["critics_score"] %>  </td>
          <td> <%= movie["ratings"]["audience_score"] %> </td>
          <td class="audience_rating"> 
            <%  if movie["ratings"]["audience_rating"] == "Spilled" %>
               <%= raw(@rotten) %>
            <% elsif  movie["ratings"]["audience_rating"] == "Upright"%>
               <%= raw(@fresh) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-sm-6" >
    <h3 class='text-center'>Go See:</h3>
    <br>
    <div class="text-center movie-display" >
      <%= image_tag  @movies[@id]["posters"]["detailed"]%>
      <br>
      <h3> <%= @movies[@id]["title"] %></h3>
      <p> <%= @movies[@id]["synopsis"].truncate(500) %></p>
      <%# binding.pry %>
    </div>
    <%= link_to "Gimme another one", next_movie_path %>
  </div>
 </div>


<script>


</script>

