<h2 class="text-center">Listing the Latest DVD's</h2>
<%# binding.pry %>
<div class="row">
  <div class="col-sm-6">
    <table>
      <th>
          <td>Movie</td>
          <td colspan="2">Critics Score</td>
          <td colspan="2">Audience Score</td>
     </th>

      <% @dvds.each do | movie | %>
        <tr class="movieList">
          <td> <%= image_tag movie["posters"]["thumbnail"]%></td>
          <td> <%= movie["title"] %>           </td>
          <td class="critics_rating">
             <%  if movie["ratings"]["critics_rating"] == "Rotten" %>
               <%= raw(@rotten) %>
               <% elsif  movie["ratings"]["critics_rating"] == "Certified Fresh"%>
               <%= raw(@fresh) %>
             <% end %>   
          </td>
          <td class="score"> <%= movie["ratings"]["critics_score"] %>  </td>
          <td> <%= movie["ratings"]["audience_score"] %> </td>
          <td class="audience_rating"> 
            <%  if movie["ratings"]["audience_rating"] == "Spilled" %>
               <%= raw(@rotten) %>
            <% elsif  movie["ratings"]["audience_rating"] == "Upright"%>
               <%= raw(@fresh) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-sm-6 movie-display" >
    <h3 class='text-center'>Go See:</h3>
      <%= image_tag  @movies[@id]["posters"]["detailed"]%>
      <br>
      <h3> <%= @movies[@id]["title"] %></h3>
      <p> <%= @movies[@id]["synopsis"].truncate(500) %></p>
  </div>
 </div>

<%= link_to 'Back', root_path %>

<script>
 

</script>