<h2 class="text-center title">The Latest DVD's</h2>
<br>
<div class="row-fluid">
  <div class="col-sm-6 listings">
    <table class="table table-striped">
      <th class="table-header">
          <td><strong>Movie</strong></td>
          <td colspan="2"><strong>Critics Score</strong></td>
          <td colspan="2"><strong>Audience Score</strong></td>
     </th>

      <% @dvds.each do | movie | %>
        <tr class="movieList">
          <td> <%= image_tag movie["posters"]["thumbnail"]%></td>
          <td> <%= movie["title"] %> </td>
          <td class="score"> <%= movie["ratings"]["critics_score"] %>  </td>
          <td class="critics_rating">
             <%  if movie["ratings"]["critics_rating"] == "Rotten" %>
               <%= raw(@rotten) %>
               <% elsif  movie["ratings"]["critics_rating"] == "Certified Fresh"%>
               <%= raw(@fresh) %>
             <% end %>   
          </td>
          <td> <%= movie["ratings"]["audience_score"] %> </td>
          <td class="audience_rating"> 
            <%  if movie["ratings"]["audience_rating"] == "Spilled" %>
               <%= raw(@rotten) %>
            <% elsif  movie["ratings"]["audience_rating"] == "Upright"%>
               <%= raw(@fresh) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-sm-6 text-center movie-list" >
    <h3>Rent:</h3>
    <br>
    <div class="text-center movie-display" >
      <%= image_tag  @dvds[@id]["posters"]["detailed"]%>
      <br>
      <h3><%= @dvds[@id]["title"] %></h3>
      <p><%= @dvds[@id]["synopsis"].truncate(500) %></p>
      <br>
      <p><strong>Critics Consensus: </strong> <%= @dvds[@id]["critics_consensus"] %></p>
      <p><strong>Critics Score: <%= @dvds[@id]["ratings"]["critics_score"] %> &nbsp;
          Audience Score: <%= @dvds[@id]["ratings"]["audience_score"] %></strong></p>
    </div>
    <%= link_to "Gimme another one!", dvds_path, {class: "btn btn-primary"}%>
  </div>
 </div>



<script>
$(document).ready(function(){
  $('.movie-list').ready(function(){
    $('.movie-list').animate({opacity:1}, 1000, function(){
    });
  });
});


</script>