<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav"> 
    <li> <%= link_to "Home", root_path %> </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Movies", movies_path %></li>
    <li><%= link_to "DVD", dvds_path %></li>
  </ul>
  </nav>

  <div>
    <%= yield %>
  </div>
</body>
</html>
